{% extends "base.html" %}

{% block title %}All Badges - YRS2012{% endblock %}
{% block metatags %}
<meta name="TITLE" content="All Badges - YRS2012" /> 
<meta name="DESCRIPTION" content="All the available badges for Young Rewired State 2012" />
{% endblock %}

{% block content %}
<div id="page">
<header>
    <h1>Young Rewired State - 2012</h1>
</header>
    <h2>All Badges</h2>
    <ul id="badge-list">
        {% for badge in badge_list %}
            <li class="badge">
                <h3><a href="{{ badge.get_absolute_url }}">{{ badge.title }}</a></h3>
                <img src="{{ MEDIA_URL }}/uploads/{{ badge.image }}" alt="" height="100" width="100">
                <p>{{ badge.description }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
